<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=ABIJIT;Initial Catalog=PioneerTechConsultancySystem;Trusted_Connection=true;"
            providerName="System.Data.SqlClient" />
        <add name="PioneerTechConsultancySystem.Properties.Settings.PioneerTechConsultancySystemConnectionString"
            connectionString="Data Source=.;Initial Catalog=PioneerTechConsultancySystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>